body {
  background-image: url("husky-dog-logo-circleR.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
h1 {
  color:blue;
  font-weight: bold;
}
p {
  color:blue;
  font-weight: bold;
}


#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
